<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Monster Detail</title>
    </head>
    <body>
    <h1 onclick="back()">Monster Details</h1>
    <div id="monster">
      <div>
        <img id="pp" src="" alt="">
        <div>
          <h2 id="name"></h2>
          <h3 id="type"></h3>
          <h3 id="danger"></h3>
        </div>
      </div>
      <p id="description"></p>
    </div>
    <script>
    function back() {
      window.location.href = '/';
    }

    let monster = JSON.parse(localStorage.getItem('monster'));

    let monsterDiv = document.getElementById('monster');

    let pp = monsterDiv.querySelector('#pp');
    let names = monsterDiv.querySelector('#name');
    let type = monsterDiv.querySelector('#type');
    let danger = monsterDiv.querySelector('#danger');
    let description = monsterDiv.querySelector('#description');

    pp.src = `https://raw.githubusercontent.com/Pl83/Mh-Monster-data/main/img/${monster.name}.png`;
    names.textContent = monster.name;
    type.textContent = monster.type;
    danger.textContent = monster.danger;
    description.textContent = monster.description;
    
    </script>
    </body>
</html>
